#rata-tengah {
  text-align: center;
}

/* untuk materi pelajaran */
.materi-pelajaran {
  margin: 10px;
  border: 2px solid black;
  border-radius: 10%;
  background-color: gold;
  width: 10%;
  display: inline-block;
}

.materi-pelajaran:hover {
  background-color: goldenrod;
  color: white;
  cursor: pointer;
}
/* akhir untuk materi pelajaran */


/*untuk tombol murid-guru-orangtua gabung*/
.tombol-murid-guru-orangtua-gabung {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: gold;
  width: 23%;
  height: 9%;
  border: 2px solid black;
}

.tombol-murid-guru-orangtua-gabung:hover {
  background-color: goldenrod;
  color: white;
  cursor: pointer;
}
/*akhir untuk tombol murid-guru-orangtua gabung*/


/*untuk tombol murid-guru-orangtua pisah*/
.tombol-murid-guru-orangtua-pisah {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: gold;
  width: 65%;
  height: 9%;
  border: 2px solid black;
}

.tombol-murid-guru-orangtua-pisah:hover {
  background-color: goldenrod;
  color: white;
  cursor: pointer;
}
/*akhir untuk tombol murid-guru-orangtua pisah*/