/* soal 1 */
.kotak-gambar-drag1 {
    width: 95px;
    border: 2px solid grey;
    cursor: grab;
}

#drop-zone1 {
    width: 800px;
    height: 50px;
    border: 5px solid black;
}


/* soal 6 */
.kotak-gambar-drag6 {
    width: 120px;
    border: 2px solid grey;
    cursor: grab;
}

#drop-zone6 {
    width: 800px;
    height: 50px;
    border: 5px solid black;
}