.quiz1, .quiz2, .ujian-bab {
    background-color: gold;
    color: black;
    font-size: 16px;
    border-radius: 5px;
    padding: 7px;
}

.quiz1:hover, .quiz2:hover, .ujian-bab:hover {
    background-color: goldenrod;
    color: white;
}